<?xml version="1.0"?>
<config>
  <modules>
    <Xus_Barrio>
      <version>0.1.0</version>
    </Xus_Barrio>
  </modules>
  <global>
    <helpers>
      <barrio>
        <class>Xus_Barrio_Helper</class>
      </barrio>
    </helpers>
	<models>
	  <barrio>
		<class>Xus_Barrio_Model</class>
		<resourceModel>barrio_mysql4</resourceModel>
	  </barrio>
	</models>
	<resources>
	  <customerattribute1414496206_setup>
		<setup>
		  <module>Xus_Barrio</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1414496206_setup>
	  <customerattribute1414496206_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1414496206_write>
	  <customerattribute1414496206_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1414496206_read>
	</resources>
	<fieldsets>
      <sales_copy_order_billing_address>
          <barrio><to_order>*</to_order></barrio>
      </sales_copy_order_billing_address>
      <sales_copy_order_shipping_address>
          <barrio><to_order>*</to_order></barrio>
      </sales_copy_order_shipping_address>
      <sales_convert_quote_address>
          <barrio><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></barrio>
      </sales_convert_quote_address>
      <sales_convert_order_address>
          <barrio><to_quote_address>*</to_quote_address></barrio>
      </sales_convert_order_address>
      <customer_address>
          <barrio><to_quote_address>*</to_quote_address></barrio>
      </customer_address>
      <checkout_onepage_billing>
          <barrio><to_customer>*</to_customer></barrio>
      </checkout_onepage_billing>
    </fieldsets>
  </global>
</config> 