<?xml version="1.0"?>
<config>
  <modules>
    <Xus_Barrio>
      <version>0.1.0</version>
    </Xus_Barrio>
  </modules>
  <global>
    <helpers>
      <barrio>
        <class>Xus_Barrio_Helper</class>
      </barrio>
    </helpers>
	<models>
	  <barrio>
		<class>Xus_Barrio_Model</class>
		<resourceModel>barrio_mysql4</resourceModel>
	  </barrio>
	</models>
	<resources>
	  <customerattribute1414496206_setup>
		<setup>
		  <module>Xus_Barrio</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1414496206_setup>
	  <customerattribute1414496206_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1414496206_write>
	  <customerattribute1414496206_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1414496206_read>
	</resources>
  </global>
</config> 